@import url('https://fonts.googleapis.com/css?family=Copse&display=swap');

:root {
  --brown: brown;
  --blue: #22b;
  --green: #3a3;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Copse', serif;
  line-height: 1.2rem;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

/* button */

.button {
  display:inline-block;
}

.button a {
  margin: 0.1rem;
  border-radius: 15px;
  background-color:#3a3;
  color: white;
  padding: 1rem;  
  display:inline-block;
  box-shadow: 2px 2px 2px grey; 
}

/* header */

header {
  width: 100%;
  margin: 0 auto;
  border-bottom: solid 3px #22b;
  text-align: center;
  padding: 0.5rem;
}

header a {
  overflow:hidden;
}

header img {
  width: 2rem;
}

nav li {
   margin: 0.2rem; 
  display:inline-block;
}

nav ul li:hover {
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
  padding: 2px 0;
  cursor: pointer;
}

/* container */

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* forms */
form {
  width: 80%;
  margin: 0 auto;
}

form label {
  width: 20%;
  text-align: left;
  display: inline-block;
}

form input {
  display: inline-block;
  width: 79%;
}

form div {
  margin: 0.2rem;
}

/* project list */

.prj {
  width: 90%;
  max-width: 15rem;
  margin: 0.3rem;
  text-align: center;
  border: solid 1px grey;
  margin-bottom: 0.5rem;
  display: inline-block;
}

.prj .header {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  background-color: #8a3;
}

.prj .header p {
  padding: 0 0.5rem;
}

.prj .header a {
  height: 100%;
  display: block;
  overflow: hidden;
  color: black;
  text-align: left;
}

.prj .header:hover img {
  display: none;
}

.prj .header:hover .short,
.prj .header:hover .stats {
  display: block;
}

.prj .header .short, .prj .header .stats {
  display: none;
}

.prj .header .stats {
  margin-top: 6rem;
}

.prj .footer {
  padding: 0.2rem 0.5rem 0;
  overflow: hidden;
}

.prj .footer p {
  margin: 0.2rem;
  text-align: left;
}

.prj .footer .days {
  float: left;
}

.prj .footer .days {
  float: right;
}

.prj .footer .category {
  text-transform: uppercase;
  float: right;
}

.prj .module {
  background: linear-gradient(to right, purple 50%, white 50%, white 100%);
  padding: 3px;
  width: 100%;
  float:left;
  margin-left: -1rem;
}

/* footer */

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width:724px) {
  nav li {
     
  }

  
}